body{
    background-color: lightgray;
}

h1{
    margin-top: 50px;
    padding-left: 10px;
    font-family: "Times New Roman"!important;
    border: solid;

}
button{
    margin-top: 30px;

}
.row{
    margin-left: 100px;
}
